.process_time_icon {
	background-image: url(../img/icon_time.png) !important;
	height:20px !important;
    width:20px !important;
}

.windo_icon{
	background-image: url(../img/icon3.png)!important;
}

.help_icon{
	background-image: url(../img/Help.png)!important;
}

.add_icon{
	background-image: url(../img/add.png)!important;
}

.arrow_refresh{
	background-image: url(../img/arrow_refresh.png)!important;
}

.grey_warn{
	background-image: url(../img/grey_warn.png)!important;
}
