.process_time_icon9 {
	background-image: url(../img/icon9.png) !important;
	height:20px !important;
    width:20px !important;
}

.windo_icon9{
	background-image: url(../img/icon9.png)!important;
}

.help_icon{
	background-image: url(../img/Help.png)!important;
}

.add_icon{
	background-image: url(../img/add.png)!important;
}

.arrow_refresh{
	background-image: url(../img/arrow_refresh.png)!important;
}
